@font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(~/assets/almarai_300.woff2) format('woff2');
  }
  
  @font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(~/assets/almarai_400.woff2) format('woff2');
  }
  
  @font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(~/assets/almarai_700.woff2) format('woff2');
  }
  
  @font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(~/assets/almarai_800.woff2) format('woff2');
  }
  