table {
  text-align: left;
}
tbody tr:nth-child(2n + 1) {
  background-color: lightyellow;
}
tbody tr:nth-child(2n) {
  background-color: white;
}
td:first-child {
  width: 150px;
}
td {
  border: 1px solid white;
  height: 34px;
}
td:not(.button),
th {
  padding-left: 10px;
  padding-right: 15px;
}
td.button {
  cursor: pointer;
}
