table {
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
}
th {
  padding: 5px 10px;
  min-width: 40px;
}
td {
  border-top: 1px solid darkgray;
  padding: 3px 15px 3px 10px;
  min-width: 40px;
}
td.button {
  text-align: center;
  width: 40px;
}
td.button button {
  margin: 0 auto;
}
td:not(.button) {
  padding: 3px 15px 3px 10px;
  vertical-align: middle;
}
td:not(.parent) {
  display: flex;
  align-items: center;
  height: 40px;
}
$editorAreaBorder: 1px solid rgb(23, 65, 214);
td.parent {
  padding: 0;
  background-color: transparent;
  min-width: 65px;
  border-top: $editorAreaBorder;
  border-bottom: $editorAreaBorder;
}
td.parent:first-of-type {
  border-left: $editorAreaBorder;
}
td.parent:last-of-type {
  border-right: $editorAreaBorder;
}
td.parent table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
td.parent td {
  border: 1px solid lightgray;
}
td a, td a:visited {
  color: rgb(8, 79, 154);
}
table {
  border-collapse: collapse;
}
button:not(.wide-button) {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
}
button.wide-button {
  display: flex;
  align-items: center;
  gap: 5px;
}
.notes-container {
  margin: 10px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  max-width: 95vw;
}
.notes-container textarea {
  width: 100%;
}
.notes-edit-row {
  display: flex;
  margin-top: 5px;
  width: 100%;
}
span[contenteditable="true"] {
  margin-right: 5px;
  min-width: 15px;
  display: inline-block;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  cursor: text;
  overflow: hidden;
  white-space: nowrap;
}
span[contenteditable="true"]:empty:before {
  /* fixes firefox span vpos bug: https://stackoverflow.com/a/48260743 */
  content: attr(data-ph);
  color: gray;
  white-space: pre;
  cursor: text;
}
