table {
  text-align: left;
  vertical-align: top;
}
tbody tr:nth-child(2n + 1) {
  background-color: lightyellow;
}
tbody tr:nth-child(2n) {
  background-color: white;
}
td {
  border: 1px solid white;
  height: 34px;
}
td:not(.button),
th {
  padding-left: 10px;
  padding-right: 15px;
  vertical-align: middle;
}
td.button {
  padding: 0 7px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
}
td {
  padding: 0;
}
td.parent {
  padding: 0;
  border-top: none;
  border-bottom: none;
  background-color: white;
}
table {
  border-collapse: collapse;
}
